.root
    position fixed
    z-index 999999999999
    top 35px
    left 5px
    font-family system-ui, tahoma, arial
    color white
    background rgba(0, 0, 0, 0.95)
    padding 5px

    table
        thead > tr:last-child
            border-bottom 1px solid white
        tr:hover
            background rgba(255, 255, 255, 0.2)
        th
            text-align left
        td, th
            padding 3px 15px 3px 0
            vertical-align middle
            &.numeric
                text-align right

.numeric
    font-family monospace

.nav
    display flex
    align-items center

    > * + *
        margin-left 5px

    .navItem
        cursor pointer
        user-select none
        transition all .3s ease
        &[data-open=true]
            box-shadow 0 1px 1px 0 white
            &:before
                content '■ '
        &[data-open=false]:before
            content '□ '
        &:hover
            box-shadow 0 1px 1px 0 white


.statusRoot
    display flex
    align-items center
    margin-right 10px

    .statusText
        margin-left 5px

    .statusIcon
        border-radius 50%
        width 10px
        height 10px

        &[data-status='on']
            background lightgreen

        &[data-status='click']
            background orange

        &[data-status='off']
            background red

.collapsible
    margin-top 10px
    .title
        font-weight bold
        margin-bottom 5px

    .content
        padding-left 12px

.buildingIcon
    display inline-block
    width 64px
    height 64px
    background url(img/buildings.png?v=6)
    background-repeat no-repeat
