.root
    position fixed
    z-index 999999999999
    top 35px
    left 5px
    cursor pointer
    color white
    cursor pointer
    background rgba(0, 0, 0, 0.95)
    padding 5px

    table
        thead > tr:last-child
            border-bottom 1px solid white
        tr:hover
            background rgba(255, 255, 255, 0.2)
        th
            // font-weight bold
            text-align left
        td, th
            padding 3px 10px 3px 0
            &.numeric
                text-align right

.numeric
    font-family monospace

.statusRoot
    display flex
    align-items center

    &:not(:last-child)
        margin-bottom 10px

    .statusText
        margin 0 5px

    .statusIcon
        border-radius 50%
        width 10px
        height 10px

        &[data-status='on']
            background lightgreen

        &[data-status='click']
            background orange

        &[data-status='off']
            background red

.collapsible
    .title
        font-weight bold
        margin-bottom 5px

    .content
        padding-left 12px
